.mild {
    --color-card: #00BB6D;
    border-left: 3px solid var(--color-card);
}

.moderate {
    --color-card: #FFE733;
    border-left: 3px solid var(--color-card);
}

.busy {
    --color-card: #FF8C01;
    border-left: 3px solid var(--color-card);
}
.very-busy {
    --color-card: #ED2938;
    border-left: 3px solid var(--color-card);
}

.capacity{
    font-weight: 100;
    font-size: 3.0em;
    width: calc( var(--card-width) / 3 );
    height: calc( var(--card-height) / 2);
    background-color: none;
    align-self: flex-end;
    position: inherit; 
    border: none;
    box-shadow: var(--main-box-shadow);
    display: grid;
    place-items: center;
}
.circular-progress {
    position: relative;
    height: calc(var(--card-height) / 3);
    width: calc(var(--card-height) / 3);
    background-color: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: var(--bg-capacity);
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-family: var(--text-font);
    font-size: 0.60em;
    color: var(--progress-color);
}
.value-container > span {
    font-size: 0.55em;
}