.wrapper-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-form {
	background-color: var(--bg-main);
    padding: 30px 40px;
    border-radius: 15px;
    min-width: 300px;

}
.container-form h2{
    margin-bottom: 10px;
}
.cl-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.cl-form input{
    margin-top: 3px;
    margin-bottom: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1.1rem;
}

.form-buttons {
    align-self: flex-end;
}

/*@media only screen and (max-width: 800px) 
{
	.container
	{width: 100%;}
}*/

@media (min-width: 400px) and (max-width: 800px)
{
	.container
	{

		width: 75%;
	}
}


@media (max-width: 400px)
{
	.container
	{

		width: 90%;
	}
}