.benfica {
    background-image: url('../img/benfica-blur.jpg');
}
.benfica:hover {
    background-image: url('../img/benfica.jpg');
}
.porangabucu {
    background-image: url('../img/porangabucu-blur.jpg');
}
.porangabucu:hover {
    background-image: url('../img/porangabucu.jpg');
}
.picii {
    background-image: url('../img/picii-blur.jpg');
}
.picii:hover {
    background-image: url('../img/picii.jpg');
}
.piciii {
    background-image: url('../img/piciii-blur.jpg');
}
.piciii:hover {
    background-image: url('../img/piciii.jpg');
}
