<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar usuário</h1>
    <form action="/delete/<%= model.id %>" method="post">
        <div><input type="text" name="name" value="<%= model.name %>" /></div>
        <div><input type="text" name="email" value="<%= model.email %>" /></div>
        <button type="submit">Excluir</button>
        <a href="/user">Cancelar</a>
    </form>
</body>
</html>