<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<title>Login - Sistema Web RU</title>
	<link rel='stylesheet' type='text/css' media='screen' href='/index.css'>
</head>

<body>
    <!-- SISTEMA WEB RU -->	
    <div class="wrapper-form">
        <a href="/" class="logo">Sistema Web RU</a>
        <div class="container-form">
            <h2>Login</h2>
            <form class="cl-form">
                <label for="matricula">Matrícula</label>
                <input id="matricula" type="number" name="matricula" placeholder="xxxxxx">
                <label for="senha">Senha</label>
                <input id="password" type="password" name="senha">
                <span class="form-buttons"> 
                    <button id="form-confirma" onclick="login(e)">Confirmar</button>
                    <a href="/">Voltar</a>
                </span>
                <span>
                    <a href="/cadastro">Cadastre-se</a> |
                    <a href="#">Esqueceu a senha?</a>
                </span>
            </form>
        </div>
        <div class="acessibilidade">
            <div class="botao-acessibilidade">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="comandos-acessibilidade">
                <div id="toggler">
                    <i class="indicator"></i>
                </div>
                <span>
                    <button onclick="aumentarFonte()">A+</button>
                    <button onclick="diminuirFonte()">A-</button>
                </span>
            </div>
    </div>
	
    <script src="./darkMode.js"></script>
    <script src="./fontSize.js"></script>
    <script src="./login.js"></script>
    <script src="https://kit.fontawesome.com/0d52e405d5.js" crossorigin="anonymous"></script>
</body>
</html>