:root{
  --color-card: white;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    margin: 10px;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;

    background-color: whitesmoke;
    transition: all 0.3s ease-out;
  }
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card h2 {
    padding: 30px;
    color: white;
    font-size: 2em;
  }
  .card h3 {
    color: var(--color-card);
  }
 
  .mild {
    border-left: 3px solid #00bb6d;
    --color-card: #00bb6d;
  }
   
  .moderate {
    border-left: 3px solid #FFE733;
    --color-card: #FFE733
  }
   
  .busy {
    border-left: 3px solid #FF8C01;
    --color-card: #FF8C01;
  }
  .very-busy {
    border-left: 3px solid #ED2938;
    --color-card: #ED2938;
  }

  
  .cards {
    flex-wrap: wrap;
  }
  .capacity{
    font-weight: 100;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3.0em;
    align-self: flex-end;
    justify-self: flex-end;
  }
  i {
    position: relative;
    color: var(--color-card);
  }
  .card-itens {
    flex-wrap: wrap;
  }
  .card-itens > div {
    padding: 15px;
    justify-content: flex-start;
  }
.velho {
  background-image: url('../assets/img/velho-blur.jpg');
}
  .velho:hover {
      background-image: url('../assets/img/velho.jpg');
  }

.category-title{
  font-style: none;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
}