.btn {
    padding: 10px 15px;
    /* margin-left: 12px; */
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: var(--btn-width);
    background-color: var(--bg-btn);
    border: none;
    border-radius: 10px;
    box-shadow: var(--btn-shadow);
    color: var(--btn-color);
    font-family: inherit;
    font-size: 18px;
}
.btn:hover {
    cursor: pointer;
}
.btn-login {
    background-color: #796BD7;
    margin-bottom: 15px;
}
.btn-login:hover {
    background-color: #414fbd;
}
.btn-signUp {
    background-color: var(--bg-btn-signUp);
}
.btn-signUp:hover {
    background-color: var(--bg-btn-signUp-hover);
}
.buttons {
    margin-top: 30px;
    display: flex !important;
    flex-direction: column !important;
    width: 90%;
}
