/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap');

/* Styles */
@import url('./header.css');
@import url('./menu.css');
@import url('./buttons.css');
@import url('./card.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./variables.css');
/* General Settings */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: var(--body-color);
    align-items: flex-start;
    background-color: var(--bg-body);
    overflow: hidden;
    height: 100vh;
    /*transition: 0.5s;*/
}
a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: var(--a-color);
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.wrapper {
    height: 100%;
    width: 100%;
}

#toggler {
    width: 115px;
    height: 45px;
    border-radius: 45px;
    background-color: #222;
    transition: 0.5s;
    box-shadow: inset 0 8px 15px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggler .indicator {
    position: inherit;
    top: 0;
    left: 0;
    z-index: 12;
    width: 45px;
    height: 45px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5);
}
