/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

/* Styles */
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./variables.css');
/* General Settings */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: var(--body-color);
    align-items: center;
    background-color: var(--bg-body);
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px 15px;
    margin-left: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: var(--btn-width);
    background-color: var(--bg-btn);
    border: none;
    border-radius: 10px;
    box-shadow: var(--btn-shadow);
    color: var(--btn-color);
    font-family: 'Mate SC', serif;
    font-size: 18px;
}
