/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap');


/* Styles */
@import url('./header.css');
@import url('./menu.css');
@import url('./ru-item.css');
@import url('./buttons.css');
@import url('./card.css');
@import url('./toggler.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./variables.css');
/* General Settings */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: var(--body-color);
    align-items: flex-start;
    background-color: var(--bg-body);
    overflow: hidden;
    height: 100vh;
    transition: 0.5s;
}
a {
    font-family: inherit;
    text-decoration: none;
    color: var(--a-color);
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.wrapper {
    height: 100%;
    width: 100%;
}
