:root {
    --main-border-radius: 0px 0px 30px 30px;
    --main-box-shadow: 5px 5px 10px -1px hsla(0, 0%, 0%, 0.26);
}

main {
    box-sizing: border-box;
    font-family: 'Mate SC', serif;
    background-color: #eeeeee;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 41px;
    min-height: 80vh;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    width: 85%;
}

section.content {
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    box-sizing: border-box;
    width: 100%;
}

.content h2 {
    font-family: 'Mate SC', serif;
    font-size: 1.8em;
    margin-bottom: 20px;
}
.content h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}
.content p {
    text-indent: 30px;
    font-style: italic;
}

.content > div {
    box-sizing: border-box;
    width: 100%;
    color: black;
    border-radius: 0px 0px 30px 30px;
    padding: 15px;
    background: whitesmoke;
}