.menu{
    align-self: flex-start;
    justify-self: flex-start;
    box-sizing: border-box;
    background-color: var(--menu-bg);
    box-shadow: var(--side-shadow);
    min-width: 310px;
    z-index: 10;
    border-right: var(--menu-border);
}
.menu header {
    display: flex;
    background-color: var(--menu-bg);
    font-size: 2em;
}
.menu > header  a{
    color: var(--menu-a);
}
.menu > nav {
    min-height: calc(100vh - var(--header-height));
    justify-content: space-between;
}
.menu ul {
    list-style: none;
    height: 100%;
}
.menu li {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    height: 100%;
}

.menu li:hover {
    background: var(--bg-li-hover);
}

.menu span {
    align-self: center;
    justify-self: center;
}
.menu div {
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;
}
