:root {
    /* Body Styles*/
        --bg-body: #E5E5E5;
    
    /* Header Styles */
        --bg-header: #103750;
        --bg-li-hover: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
        --header-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.251);

    /* Buttons Styles */
        --btn-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.251);
        --btn-width: 112px;
        --bg-btn-login: #4E937A;
        --bg-btn-login-hover: #77dfb9;
        --bg-btn-signUp: #527067;
        --bg-btn-signUp-hover: #94c4b5;
    /* Main Styles*/
        --main-border-radius: 0px 0px 30px 30px;
        --main-box-shadow: 5px 5px 10px -1px hsla(0, 0%, 0%, 0.26);

}