<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Conheça o Restaurante Universitário</h2>
    <div class="acontent">
        <p>O Restaurante Universitário, sob a coordenação da Pró-Reitoria de Assuntos Estudantis, é uma unidade destinada a oferecer refeições de qualidade a estudantes, docentes e servidores técnico-administrativos da UFC, além de constituir um espaço de convivência e integração da comunidade universitária.</p>
    </div>
</body>
</html>