<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Valor das refeições</h2>
    <p>
        Estudante: R$ 1,10
        Servidor técnico–administrativo: R$ 7,00
        Docente: R$ 7,00
    </p>
</body>
</html>