<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Sobre nós</h1>
    <div class="card">
        <div class="flex-column">
            <div class="text"><a href="sobre/ru">Conheça o Restaurante Universitário</a></div>
            <div class="text"><a href="sobre/horario">Horário de funcionamento</a></div>
            <div class="text"><a href="sobre/valor">Valor das refeições</a></div>   
        </div>
    </div>
    <div class="resultado"></div>
    <script src="/about.js"></script>
</body>
</html>
