body  
{
	background-color: #103750;
	font-family: times new roman;
}

.container 
{
	background-color: white;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vw;
	margin-bottom: 5vw;
    /*padding: 150px;*/
    padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vw;
	padding-bottom: 5vw;
    border-radius: 10px;
}

#formulario
{
	color: #103750;
	display: flex;
	flex-direction: column;
}


.buttonSubmit
{
	background-color: #103750; 
	color: #FFFFFF;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 12px;
	width: 50%;
	border-radius: 10px;
	text-decoration: none;
}

/*@media only screen and (max-width: 800px) 
{
	.container
	{width: 100%;}
}*/

@media (min-width: 400px) and (max-width: 800px)
{
	.container
	{
		background-color: ;
		width: 75%;
	}
}


@media (max-width: 400px)
{
	.container
	{
		background-color: ;
		width: 90%;
	}
}